@page "/"

@layout EmptyLayout

<PageTitle>Pricer - відстежуйте знижки на товари з чат-ботом Pricer!</PageTitle>
<PageMeta
    Description="Pricer - безкоштовний чат-бот, який повідомляє вам про зниження цін на обрані товари, допомагає слідкувати за наявністю товарів та показує історію цін. Підключайтеся через Telegram або Viber та отримуйте сповіщення про знижки першими!"
    Keywords="Pricer, чат-бот, відстеження цін, сповіщення про знижки, ексклюзивні знижки, акційні пропозиції, знижки на товари, історія цін, онлайн покупки, порівняння цін, економія, вигідні покупки, Telegram бот, Viber бот"></PageMeta>

<div id="navbar">
    <div id="navbar-logo">
        <img @onclick="ScrollToBanner" src="images/advertisement/logo.png" id="logo" alt="Pricer логотип">
    </div>

    <div id="navbar-links">
        <a @onclick="ScrollToFunctions">Функції</a>
        <a @onclick="ScrollToVideo">Користування</a>
        <a @onclick="ScrollToShops">Магазини</a>
    </div>
</div>

<div id="nav-links-mobile">
    <a @onclick="ScrollToFunctions"><img src="images/advertisement/nav-link-mobile-1.svg" alt="Функції"/></a>
    <a @onclick="ScrollToVideo"><img src="images/advertisement/nav-link-mobile-2.svg" alt="Відео користування"/></a>
    <a @onclick="ScrollToShops"><img src="images/advertisement/nav-link-mobile-3.svg" alt="Магазини"/></a>
</div>

<div id="banner-container">
    <div id="banner-text">
        <p id="banner-title">Pricer</p>
        <p id="banner-description">Безкоштовний чат-бот, за допомогою якого Ви першим дізнаєтесь про зниження ціни на товар</p>
        <div id="banner-buttons">
            <a href="https://t.me/pricer_official_bot" class="banner-button">Telegram <div id="telegram-button" src="images/advertisement/telegram.svg"></div></a>
            <a href="viber://pa/info?uri=pricer" class="banner-button">Viber <div id="viber-button" src="images/advertisement/viber.svg"></div></a>
        </div>
    </div>

    <div id="banner-image">
        <img src="images/advertisement/banner-image.png" alt="Банер">
    </div>
</div>

<div id="banner-container-mobile">
    <p id="banner-title-mobile">Pricer</p>
    <p id="banner-subtitle-mobile">ЧАТ-БОТ</p>
    <img src="images/advertisement/banner-line.png" id="banner-line-mobile" alt="Розріз"/>
    <p id="banner-description-mobile">ЗА ДОПОМОГОЮ ЯКОГО ВИ ПЕРШИМ ДІЗНАЄТЕСЬ ПРО ЗНИЖЕННЯ ЦІНИ НА ТОВАР</p>
    
    <img src="images/advertisement/banner-image-mobile.png" id="banner-image-mobile" alt="Банер для мобільних телефонів">
    
    <div class="banner-buttons-mobile">
        <a href="https://t.me/pricer_official_bot" class="banner-button-mobile">Telegram <div id="telegram-button-mobile" src="images/advertisement/telegram.svg"></div></a>
        <a href="viber://pa/info?uri=pricer" class="banner-button-mobile">Viber <div id="viber-button-mobile" src="images/advertisement/viber.svg"></div></a>
    </div>
</div>

<div id="functions-container">
    <p class="header"><span>Що вміє</span> Pricer?</p>

    <div id="functions-content">
        <div id="functions">
            <div class="function-description">
                <img src="images/advertisement/function-1.svg" alt="Перша функція">
                <p>Відстежує ціни на вибрані товари</p>
            </div>

            <div class="function-description">
                <img src="images/advertisement/function-2.svg" alt="Друга функція">
                <p>Повідомляє про зниження ціни, як тільки це станеться</p>
            </div>

            <div class="function-description">
                <img src="images/advertisement/function-3.svg" alt="Третя функція">
                <p>Повідомляє про те, що обраного товару немає в наявності</p>
            </div>

            <div class="function-description">
                <img src="images/advertisement/function-4.svg" alt="Четверта функція">
                <p>Створює персональний сайт для зручності у користуванні</p>
            </div>

            <div class="function-description">
                <img src="images/advertisement/function-5.svg" alt="П'ята функція">
                <p>Показує історію цін на товар</p>
            </div>
        </div>

        <div id="functions-decoration">
        </div>
    </div>
</div>

<!--USING-->

<p class="header" id="video-header"><span>Як користуватися</span> Pricer?</p>

<div id="how-to-use-container">

    <div></div>
    
    <video controls>
        <source src="videos/how-to-use.MOV">
        Your browser does not support the video tag.
    </video>
    
    <div></div>
</div>


<!--SHOPS-->

@if (_shopCategories != null)
{
    <p class="header" id="shops-header"><span>Які магазини відстежує</span> Pricer?</p>

    <div id="shop-categories">
        @foreach (var shopCategory in _shopCategories)
        {
            <button
                @onclick="() => ChangeShopCategory(shopCategory)"
                class="shop-category @(shopCategory == _currentShopCategory ? "active-shop-category" : string.Empty)">
                
                @ResourceService.GetDefault(shopCategory.Name)
            </button>
        }
    </div>

    @if (_currentShopCategory != null)
    {
        <div id="shops-container">

            @foreach (var shop in _currentShopCategory.Shops)
            {
                <div class="shop">
                    <a href="https://@shop.Host" target="_blank" class="shop-content" style="background-color: @shop.BackgroundColor">
                        <p style="color: @shop.FontColor">@shop.Name</p>
                    </a>
                </div>
            }
        </div>
    }
}

<!--FOOTER-->

<div id="footer">

    <p class="footer-text">Всі права захищені</p>

    <img src="images/advertisement/copyright.png" alt="Copyright">

    <p class="footer-text">Copyright 2023 Pricer</p>

</div>