<div class="shops-container">
    @foreach (var items in Data)
    {
        <div class="logo-container">
            <a href="@items.Shop.Address" target="_blank">
                <img src="/images/logos/@items.Shop.Logo">
            </a>
        </div>

        <div class="items-container">
            @foreach (var item in items.Items)
            {
                <div class="item-container">
                    <div class="image-container @(!items.Shop.SameFormatImages ? "unified-image-format" : string.Empty)">
                        
                        <img 
                            @onclick="@(() => ShowItemImageModal(item.ImageUrl))" 
                            src="@item.ImageUrl" 
                            alt="@item.Title">

                        <span class="delete-button" @onclick="@(() => OnItemDeleted.InvokeAsync(item.Id))">
                            <img src="/images/trash.png">
                        </span>

                        <div class="price-container">
                            <span class="price" id="@item.PriceChanges">
                                @item.Price<b>@items.Shop.CurrencySign</b>
                            </span>
                        </div>

                        <div class="redirect-container">
                            <a href="@item.Url" target="_blank">
                                Перейти
                                <img src="/images/arrow.png">
                            </a>
                        </div>
                    </div>

                    <div class="title-container">
                        <p>@item.Title</p>
                    </div>
                </div>
            }
        </div>
    }
</div>

<div 
    class="image-modal-container @(ItemImageModalVisible ? "show-modal" : string.Empty)"
    @onclick="CloseItemImageModal">

    <span @onclick="CloseItemImageModal">&times;</span>

    <img src="@ItemImageModalSource">
</div>