@page "/"

<PageTitle>Users</PageTitle>

<MudGrid Style="margin-top: 20px">
    <MudItem md="4" xs="12">

        <MudTextField
            Immediate="true"
            @bind-Value="@_search"
            TextChanged="SearchTextChanged"
            Label="Search..."
            Variant="Variant.Text"
            Clearable="true"
            Adornment="Adornment.End"
            AdornmentIcon="@Icons.Filled.Search"/>

        <div style="height: 75vh; overflow-y: scroll; margin-top: 8px; padding-right: 1px">
            <MudButtonGroup
                Color="Color.Primary"
                Variant="Variant.Filled"
                VerticalAlign="true"
                Style="width: 100%">

                @if (_filteredUsers is not null)
                {
                    foreach (var user in _filteredUsers)
                    {
                        <MudButton
                            FullWidth="true"
                            OnClick="() => OnSelectedUserChanged(user)"
                            Style="@(user.IsActive ? string.Empty : "background-color: #3b3b3b")">

                            @user.FullName
                        </MudButton>
                    }
                }
            </MudButtonGroup>
        </div>
    </MudItem>

    <MudItem md="1" xs="0">
        <MudDivider Vertical="true"/>
    </MudItem>

    <MudItem md="7" xs="12">
        @if (_selectedUser is not null)
        {
            <MudStack>
                <MudPaper Class="pa-6" Style="@(_selectedUser.IsActive ? "border-top: 3px solid #0aed02" : "border-top: 3px solid #ed0202")">
                    <MudText Typo="Typo.h5">@_selectedUser.FullName</MudText>

                    @if (!string.IsNullOrEmpty(_selectedUser.UserName))
                    {
                        <MudText Typo="Typo.h6" Style="font-family: italic">@@@_selectedUser.UserName</MudText>
                    }

                    <MudText Typo="Typo.subtitle2">External Id - @_selectedUser.ExternalId</MudText>
                </MudPaper>

                <MudPaper Class="pa-4" Style="text-align: center">
                    <MudTextField
                        T="string"
                        Label="Message"
                        Variant="Variant.Text"
                        Lines="2"
                        @bind-Value="@_messageToUser"/>

                    <MudButton
                        Variant="Variant.Filled"
                        Color="Color.Secondary"
                        EndIcon="@Icons.Material.Filled.Send"
                        Size="Size.Small"
                        Style="margin-top: 8px"
                        Disabled="string.IsNullOrEmpty(_messageToUser)"
                        OnClick="SendMessageToUser">
                        Send
                    </MudButton>
                </MudPaper>

                @if (_selectedUserItems is not null && _selectedUserItems.Any())
                {
                    <MudItem xs="12">
                        <MudPaper>
                            <MudExpansionPanels>
                                @foreach (var item in _selectedUserItems)
                                {
                                    <MudExpansionPanel Text="@item.Title">
                                        <MudGrid>
                                            <MudItem xs="6">
                                                <MudText Color="Color.Success">Price: @item.Price @item.Currency</MudText>
                                                <MudText Color="item.IsAvailable ? Color.Default : Color.Error">Available: @(item.IsAvailable ? "yes" : "no")</MudText>
                                                <MudText Color="item.IsDeleted ? Color.Error : Color.Default">Deleted: @(item.IsDeleted ? "yes" : "no")</MudText>
                                            </MudItem>
                                            <MudItem xs="6">
                                                <MudStack Row="true" Justify="Justify.FlexEnd" AlignItems="AlignItems.Center">
                                                    <MudPaper Style="box-shadow: none">
                                                        <MudIconButton
                                                            Icon="@Icons.Material.Filled.Outbound"
                                                            Target="_blank"
                                                            Href="@item.Url.ToString()">
                                                        </MudIconButton>
                                                    </MudPaper>
                                                    <MudPaper Style="box-shadow: none">
                                                        <MudIconButton Icon="@Icons.Material.Filled.Delete" OnClick="() => DeleteItem(item.Id)"></MudIconButton>
                                                    </MudPaper>
                                                </MudStack>
                                            </MudItem>
                                        </MudGrid>
                                    </MudExpansionPanel>
                                }
                            </MudExpansionPanels>
                        </MudPaper>
                    </MudItem>
                }
            </MudStack>
        }
    </MudItem>
</MudGrid>